openapi: 3.0.0

info:
    title: Illumio
    description: Illumio PCE API
    version: "0.0.1"

servers:
    - url: https://poc1.illum.io

paths:
    /orgs/{org_id}/workloads:
    post:
      tags:
        - workloads
      description: ''
      parameters:
        - name: org_id
          description: Organization
          required: true
          in: path
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: v2/workloads_post.schema.json
      responses:
        '201':
          description: Success
    get:
      tags:
        - workloads
      description: ''
      parameters:
        - name: org_id
          description: Organization
          required: true
          in: path
          schema:
            type: integer
        - name: agent.active_pce_fqdn
          description: FQDN of the PCE
          required: false
          in: query
          schema:
            type: string
        - name: container_clusters
          description: List  of container cluster URIs, encoded as a JSON string
          required: false
          in: query
          schema:
            type: string
        - name: description
          description: Description of workload(s) to return. Supports partial matches
          required: false
          in: query
          schema:
            type: string
        - name: enforcement_mode
          description: Enforcement mode of workload(s) to return
          required: false
          in: query
          schema:
            type: string
            enum:
              - visibility_only
              - full
              - idle
              - selective
        - name: external_data_reference
          description: A unique identifier within the external data source
          required: false
          in: query
          schema:
            type: string
        - name: external_data_set
          description: The data source from which a resource originates
          required: false
          in: query
          schema:
            type: string
        - name: hostname
          description: Hostname of workload(s) to return. Supports partial matches
          required: false
          in: query
          schema:
            type: string
        - name: include_deleted
          description: Include deleted workloads
          required: false
          in: query
          schema:
            type: boolean
        - name: ip_address
          description: IP address of workload(s) to return. Supports partial matches
          required: false
          in: query
          schema:
            type: string
        - name: labels
          description: List of lists of label URIs, encoded as a JSON string
          required: false
          in: query
          schema:
            type: string
        - name: last_heartbeat_on[gte]
          description: Greater than or equal to value for last heartbeat on timestamp
          required: false
          in: query
          schema:
            type: string
            enum:
              - server
              - endpoint
              - containerized
        - name: last_heartbeat_on[lte]
          description: Less than or equal to value for last heartbeat on timestamp
          required: false
          in: query
          schema:
            type: string
            enum:
              - server
              - endpoint
              - containerized
        - name: log_traffic
          description: Whether we want to log traffic events from this workload
          required: false
          in: query
          schema:
            type: boolean
        - name: managed
          description: Return managed or unmanaged workloads using this filter
          required: false
          in: query
          schema:
            type: boolean
        - name: max_results
          description: Maximum number of workloads to return.
          required: false
          in: query
          schema:
            type: integer
        - name: mode
          description: >-
            Management mode of workload(s) to return. DEPRECATED AND REPLACED
            (Use enforcement_mode)
          required: false
          in: query
          schema:
            type: string
        - name: name
          description: Name of workload(s) to return. Supports partial matches
          required: false
          in: query
          schema:
            type: string
        - name: online
          description: Return online/offline workloads using this filter
          required: false
          in: query
          schema:
            type: boolean
        - name: os_id
          description: Operating System of workload(s) to return. Supports partial matches
          required: false
          in: query
          schema:
            type: string
        - name: policy_health
          description: >-
            Policy of health of workload(s) to return. Valid values: active,
            warning, error, suspended
          required: false
          in: query
          schema:
            type: string
        - name: risk_summary.ransomware.workload_exposure_severity
          description: >-
            The ransomware severity of the workload. Valid values: low, medium,
            high, critical, fully_protected
          required: false
          in: query
          schema:
            type: string
        - name: security_policy_sync_state
          description: Advanced search option for workload based on policy sync state
          required: false
          in: query
          schema:
            type: string
            enum:
              - staged
        - name: security_policy_update_mode
          description: >-
            Advanced search option for workload based on security policy update
            mode
          required: false
          in: query
          schema:
            type: string
            enum:
              - static
              - adaptive
        - name: soft_deleted
          description: 'DEPRECATED WITH NO REPLACEMENT: Only soft-deleted workloads'
          required: false
          in: query
          schema:
            type: boolean
        - name: ven
          description: URI of VEN to filter by.
          required: false
          in: query
          schema:
            type: string
        - name: ven.ven_type
          description: >-
            Return only Workloads with VENs of the specific type: server,
            endpoint, or containerized
          required: false
          in: query
          schema:
            type: string
            enum:
              - server
              - endpoint
              - containerized
        - name: visibility_level
          description: Filter by visibility level
          required: false
          in: query
          schema:
            type: string
            enum:
              - flow_full_detail
              - flow_summary
              - flow_drops
              - flow_off
              - enhanced_data_collection
        - name: vulnerability_summary.vulnerability_exposure_score[gte]
          description: Greater than or equal to value for vulnerability_exposure_score
          required: false
          in: query
          schema:
            type: integer
        - name: vulnerability_summary.vulnerability_exposure_score[lte]
          description: Less than or equal to value for vulnerability_exposure_score
          required: false
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: v2/workloads_get.schema.json
                components:
schemas:
  workloads_get:
    $ref: v2/workloads_get.schema.json